<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<!-- Console output -->
		<target xsi:type="Console" name="console"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

		<!-- File output -->
		<target xsi:type="File" name="file"
				fileName="${basedir}/logs/api-tests-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
				archiveAboveSize="10485760"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />
	</targets>

	<rules>
		<!-- Log everything from Debug and above to both console and file -->
		<logger name="*" minlevel="Debug" writeTo="console,file" />
	</rules>
	
</nlog>
